/*16 or 13*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Silkscreen&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2c3531;
    color:#ffcb91;
    height: 100vh;
    position: relative;
    margin: 0px;
    top: 0;
    display: flex;
    margin-top: auto;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 55px;
}

footer i {
    transition: 0.5s;
    margin-left: 15px;
}

footer i:hover {
    transform: scale(1.2);
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 90px);
    border-radius: 20px;
    justify-content: center;
    align-content: center;
}

.calculator-grid > button {
    cursor: pointer;
    border: solid black 1px;
    color: black;
    outline: none;
    background-color: rgba(217, 213, 213, 0.76);
    font-size: 30px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
} 

.calculator-grid > button:hover {
    background-color: rgba(217, 213, 213, 1);
}

.span-two {
    grid-column: span 2;
}

.output {
    background-color: #dbdbdb;
    border: solid black 1px;
    color: black;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 8px;
    word-wrap: break-word;
    word-break: break-all;
}

header h1 {
    font-family: 'Silkscreen', cursive;
    font-size: 45px;
    margin: 0px;
}

header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.output .previousOperand {
color: #2c3531;
font-size: 1.3rem;
}

.output .currentOperand {
color: black;
font-size: 2.3rem;
}
